.grid{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
}

.header{
    background-color: chartreuse;
    grid-column-start: 1;
    grid-column-end: 5;
}

.content{
    background-color: rgb(45, 134, 193);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.nav{
    background-color: rgb(209, 143, 57);
    grid-row-start: 2;
    grid-row-end: 4;
}

.footer{
    background-color: rgb(186, 78, 180);
    grid-column-start: 1;
    grid-column-end: 5;
}