.grid{
    display: grid;
    color: white;
    gap:5px;
    height: 50vh;
    grid-template-rows: repeat(4,100px);
    grid-auto-columns: 100px;
}

.grid:first-child{
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
}

.grid:last-child{
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}

.item:nth-child(odd){
    background-color: greenyellow;
}

.item:nth-child(even){
    background-color: blue;
}